# Dependencies and build output
node_modules
.dist
/dist

# VCS
.git
.gitignore

# IDE / tooling
.vscode
.idea

# Env / logs
.env
npm-debug.log*
yarn.lock
pnpm-lock.yaml
bun.lockb

# Misc
**/*.map
Dockerfile
nginx.conf
